/* .editor-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.page-title {
    font-size: 36px;
    font-weight: 700;
}

.delete-form {
    opacity: 0;
    transition: opacity 0.2s;
}

.editor-header:hover .delete-form {
    opacity: 1;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.editor-textarea {
    width: 100%;
    height: 75vh;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 16px;
} */
