.nav-bar{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    z-index: 100;

}
@keyframes appear {
    from {
        opacity: 0;
        /* scale: 0.5; */
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        /* scale: 1; */
        transform: translateX(0%);
    }
}

.block {
    animation: appear 2s linear;
    animation-timeline:view() ;
    animation-range: entry 0 cover 30%;
}
.carousel{
    margin: 100px auto;
    width: 80%;
    /* border: 5px solid rebeccapurple; */
    display: flex;
    overflow-x: auto;
    /* gap: 1em; */
    
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: carousel-spin 5s infinite linear;
    /* margin: 0.5em; */
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 2em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    outline: none;
    text-decoration: none;
    
}

.page-norm{
    display: block;
}

@keyframes carousel-spin{
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}
.bottom-info{
    width: 100%;
    color: black;
    
}