:root {
    --border-radius-200: 0.25rem;
    --border-radius-300: 0.3125rem;
    --border-radius-400: 0.375rem;
    --border-radius-500: 0.5rem;
    --border-radius-600: 0.625rem;
    --border-radius-700: 0.75rem;
    --border-radius-800: 0.875rem;
    --border-radius-900: 1rem;
    --border-radius-round: 624.9375rem;
    --border-width-1: 1px;
    --border-width-2: 2px;
    --border-width-4: 4px;
    --color-gray-100: #fcfbfb;
    --color-gray-200: #f6f5f4;
    --color-gray-300: #dfdcd9;
    --color-gray-400: #a39e98;
    --color-gray-500: #78736f;
    --color-gray-600: #615d59;
    --color-gray-700: #494744;
    --color-gray-800: #31302e;
    --color-gray-900: #191918;
    --color-red-100: #fef3f1;
    --color-red-200: #fdd3cd;
    --color-red-300: #ff8b7c;
    --color-red-400: #f77463;
    --color-red-500: #f64932;
    --color-red-600: #e32d14;
    --color-red-700: #b01601;
    --color-red-800: #6f0d00;
    --color-red-900: #4f0900;
    --color-orange-100: #fff5ed;
    --color-orange-200: #ffdec4;
    --color-orange-300: #ffad71;
    --color-orange-400: #ff8a33;
    --color-orange-500: #ff6d00;
    --color-orange-600: #dd5b00;
    --color-orange-700: #ab4a00;
    --color-orange-800: #793400;
    --color-orange-900: #532200;
    --color-yellow-100: #fff5e0;
    --color-yellow-200: #ffe4af;
    --color-yellow-300: #ffd786;
    --color-yellow-400: #ffc95e;
    --color-yellow-500: #ffb110;
    --color-yellow-600: #e89d01;
    --color-yellow-700: #c78600;
    --color-yellow-800: #a16c00;
    --color-yellow-900: #704b00;
    --color-teal-100: #f2fafa;
    --color-teal-200: #bde6e4;
    --color-teal-300: #83cbc9;
    --color-teal-400: #2a9d99;
    --color-teal-500: #27918d;
    --color-teal-600: #0a7b77;
    --color-teal-700: #126764;
    --color-teal-800: #0a4d4b;
    --color-teal-900: #042b29;
    --color-blue-100: #f2f9ff;
    --color-blue-200: #e6f3fe;
    --color-blue-300: #93cdfe;
    --color-blue-400: #62aef0;
    --color-blue-500: #097fe8;
    --color-blue-600: #0075de;
    --color-blue-700: #005bab;
    --color-blue-800: #00396b;
    --color-blue-900: #002a4f;
    --color-purple-100: #f8f5fc;
    --color-purple-200: #eadbfa;
    --color-purple-300: #d6b6f6;
    --color-purple-400: #ad6ded;
    --color-purple-500: #9849e8;
    --color-purple-600: #7237ae;
    --color-purple-700: #562983;
    --color-purple-800: #391c57;
    --color-purple-900: #1c0e2c;
    --color-green-100: #f0faf2;
    --color-green-200: #d0f4d8;
    --color-green-300: #abe5b8;
    --color-green-400: #68ce7e;
    --color-green-500: #1aae39;
    --color-green-600: #14832b;
    --color-green-700: #0f6220;
    --color-green-800: #0a4216;
    --color-green-900: #05210b;
    --color-pink-100: #fff5fc;
    --color-pink-200: #ffcdf1;
    --color-pink-300: #ffb5eb;
    --color-pink-400: #ff83dd;
    --color-pink-500: #ff64c8;
    --color-pink-600: #d13f9d;
    --color-pink-700: #9d2472;
    --color-pink-800: #6c1b4f;
    --color-pink-900: #481034;
    --color-brown-100: #fcf8f5;
    --color-brown-200: #ebd5c5;
    --color-brown-300: #d9b79f;
    --color-brown-400: #b18164;
    --color-brown-500: #9c7054;
    --color-brown-600: #885d3d;
    --color-brown-700: #744d2d;
    --color-brown-800: #654124;
    --color-brown-900: #523410;
    --color-black: #000;
    --color-white: #fff;
    --color-alpha-black-100: #0000000d;
    --color-alpha-black-200: #0000001a;
    --color-alpha-black-300: #0003;
    --color-alpha-black-400: #0000004d;
    --color-alpha-black-500: #0000008a;
    --color-alpha-black-600: #00000096;
    --color-alpha-black-700: #000000bf;
    --color-alpha-black-800: #000000e6;
    --color-alpha-black-900: #000000f2;
    --color-alpha-white-100: #ffffff0d;
    --color-alpha-white-200: #ffffff1a;
    --color-alpha-white-300: #fff3;
    --color-alpha-white-400: #ffffff4d;
    --color-alpha-white-500: #ffffff80;
    --color-alpha-white-600: #ffffffa8;
    --color-alpha-white-700: #ffffffbf;
    --color-alpha-white-800: #ffffffd9;
    --color-alpha-white-900: #fffffff2;
    --color-transparent: #fff0;
    --decoration-link-underline-offset: 0.1em;
    --decoration-link-underline-thickness: 1px;
    --decoration-focus-ring-outline-offset: 2px;
    --decoration-focus-ring-outline-thickness: 2px;
    --font-family-sans: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-serif: "Lyon Text", Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", SimSun, "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
    --font-family-serif-japanese: "Lyon Text", Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    --font-family-serif-chinese-simplified: "Lyon Text", Georgia, "Songti TC", SimSun, serif;
    --font-family-serif-chinese-traditional: "Lyon Text", Georgia, "Songti SC", SimSun, serif;
    --font-family-sans-vietnamese: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-serif-vietnamese: ui-serif, "Times New Roman", serif;
    --font-family-handwriting: "Permanent Marker", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-mono: "iA Writer Mono", Nitti, Menlo, Courier, monospace;
    --font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    --font-size-50: 0.75rem;
    --font-size-100: 0.875rem;
    --font-size-150: 0.9375rem;
    --font-size-200: 1rem;
    --font-size-300: 1.125rem;
    --font-size-350: 1.25rem;
    --font-size-400: 1.375rem;
    --font-size-500: 1.625rem;
    --font-size-600: 2rem;
    --font-size-700: 2.625rem;
    --font-size-800: 3.375rem;
    --font-size-900: 4rem;
    --font-size-1000: 4.75rem;
    --font-line-height-50: var(--spacing-16);
    --font-line-height-100: var(--spacing-20);
    --font-line-height-150: var(--spacing-20);
    --font-line-height-200: var(--spacing-24);
    --font-line-height-300: var(--spacing-28);
    --font-line-height-350: var(--spacing-28);
    --font-line-height-400: var(--spacing-28);
    --font-line-height-500: var(--spacing-32);
    --font-line-height-600: var(--spacing-40);
    --font-line-height-700: var(--spacing-48);
    --font-line-height-800: var(--spacing-56);
    --font-line-height-900: var(--spacing-64);
    --font-line-height-1000: var(--spacing-80);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-variable-regular: 420;
    --font-weight-variable-medium: 520;
    --font-weight-variable-semibold: 620;
    --font-weight-variable-bold: 680;
    --motion-timing-function-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --motion-timing-function-ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
    --motion-timing-function-ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
    --motion-timing-function-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --motion-timing-function-ease-in-out-linear: cubic-bezier(0.5, 0, 0.5, 1);
    --motion-timing-function-ease-in: ease-in;
    --motion-timing-function-ease-out: ease-out;
    --motion-timing-function-linear: linear;
    --motion-duration-100: 100ms;
    --motion-duration-150: 150ms;
    --motion-duration-200: 200ms;
    --motion-duration-250: 250ms;
    --motion-duration-300: 300ms;
    --shadow-level-100: 0px 3px 9px #00000008, 0px 0.7px 1.4625px rgba(0, 0, 0, .015);
    --shadow-level-200: 0px 4px 18px #0000000a, 0px 2.025px 7.84688px rgba(0, 0, 0, .027), 0px 0.8px 2.925px #00000005, 0px 0.175px 1.04062px rgba(0, 0, 0, .013);
    --shadow-level-300: 0px 20px 50px #00000014, 0px 6px 16px #0000000a;
    --shadow-filter: 0 4px 18px #0000004d;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-16: 1rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-28: 1.75rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-80: 5rem;
    --spacing-96: 6rem;
    --spacing-128: 8rem;
    --spacing-160: 10rem;
    --z-index-header: 100;
    --z-index-banner: 90;
    --z-index-mobile-nav: 200;
    --z-index-popup: 500;
    --z-index-lightbox: var(--z-index-popup);
    --z-index-tooltip: var(--z-index-popup);
    --typography-sans-50-regular-font: var(--font-weight-regular) var(--font-size-50) / var(--font-line-height-50) var(--font-family-sans);
    --typography-sans-50-regular-letter-spacing: 0.0078125rem;
    --typography-sans-50-medium-font: var(--font-weight-medium) var(--font-size-50) / var(--font-line-height-50) var(--font-family-sans);
    --typography-sans-50-medium-letter-spacing: 0.0078125rem;
    --typography-sans-50-semibold-font: var(--font-weight-semibold) var(--font-size-50) / var(--font-line-height-50) var(--font-family-sans);
    --typography-sans-50-semibold-letter-spacing: 0.0078125rem;
    --typography-sans-50-bold-font: var(--font-weight-bold) var(--font-size-50) / var(--font-line-height-50) var(--font-family-sans);
    --typography-sans-50-bold-letter-spacing: 0.0078125rem;
    --typography-sans-100-regular-font: var(--font-weight-regular) var(--font-size-100) / var(--font-line-height-100) var(--font-family-sans);
    --typography-sans-100-regular-letter-spacing: 0.0078125rem;
    --typography-sans-100-medium-font: var(--font-weight-medium) var(--font-size-100) / var(--font-line-height-100) var(--font-family-sans);
    --typography-sans-100-medium-letter-spacing: 0.0078125rem;
    --typography-sans-100-semibold-font: var(--font-weight-semibold) var(--font-size-100) / var(--font-line-height-100) var(--font-family-sans);
    --typography-sans-100-semibold-letter-spacing: 0.0078125rem;
    --typography-sans-100-bold-font: var(--font-weight-bold) var(--font-size-100) / var(--font-line-height-100) var(--font-family-sans);
    --typography-sans-100-bold-letter-spacing: 0.0078125rem;
    --typography-sans-150-regular-font: var(--font-weight-regular) var(--font-size-150) / var(--font-line-height-150) var(--font-family-sans);
    --typography-sans-150-regular-letter-spacing: 0;
    --typography-sans-150-medium-font: var(--font-weight-medium) var(--font-size-150) / var(--font-line-height-150) var(--font-family-sans);
    --typography-sans-150-medium-letter-spacing: 0;
    --typography-sans-150-semibold-font: var(--font-weight-semibold) var(--font-size-150) / var(--font-line-height-150) var(--font-family-sans);
    --typography-sans-150-semibold-letter-spacing: 0;
    --typography-sans-150-bold-font: var(--font-weight-bold) var(--font-size-150) / var(--font-line-height-150) var(--font-family-sans);
    --typography-sans-150-bold-letter-spacing: 0;
    --typography-sans-200-regular-font: var(--font-weight-regular) var(--font-size-200) / var(--font-line-height-200) var(--font-family-sans);
    --typography-sans-200-regular-letter-spacing: 0;
    --typography-sans-200-medium-font: var(--font-weight-medium) var(--font-size-200) / var(--font-line-height-200) var(--font-family-sans);
    --typography-sans-200-medium-letter-spacing: 0;
    --typography-sans-200-semibold-font: var(--font-weight-semibold) var(--font-size-200) / var(--font-line-height-200) var(--font-family-sans);
    --typography-sans-200-semibold-letter-spacing: 0;
    --typography-sans-200-bold-font: var(--font-weight-bold) var(--font-size-200) / var(--font-line-height-200) var(--font-family-sans);
    --typography-sans-200-bold-letter-spacing: 0;
    --typography-sans-300-regular-font: var(--font-weight-regular) var(--font-size-300) / var(--font-line-height-300) var(--font-family-sans);
    --typography-sans-300-regular-letter-spacing: -0.0078125rem;
    --typography-sans-300-medium-font: var(--font-weight-medium) var(--font-size-300) / var(--font-line-height-300) var(--font-family-sans);
    --typography-sans-300-medium-letter-spacing: -0.0078125rem;
    --typography-sans-300-semibold-font: var(--font-weight-semibold) var(--font-size-300) / var(--font-line-height-300) var(--font-family-sans);
    --typography-sans-300-semibold-letter-spacing: -0.0078125rem;
    --typography-sans-300-bold-font: var(--font-weight-bold) var(--font-size-300) / var(--font-line-height-300) var(--font-family-sans);
    --typography-sans-300-bold-letter-spacing: -0.0078125rem;
    --typography-sans-350-regular-font: var(--font-weight-regular) var(--font-size-350) / var(--font-line-height-350) var(--font-family-sans);
    --typography-sans-350-regular-letter-spacing: -0.0078125rem;
    --typography-sans-350-medium-font: var(--font-weight-medium) var(--font-size-350) / var(--font-line-height-350) var(--font-family-sans);
    --typography-sans-350-medium-letter-spacing: -0.0078125rem;
    --typography-sans-350-semibold-font: var(--font-weight-semibold) var(--font-size-350) / var(--font-line-height-350) var(--font-family-sans);
    --typography-sans-350-semibold-letter-spacing: -0.0078125rem;
    --typography-sans-350-bold-font: var(--font-weight-bold) var(--font-size-350) / var(--font-line-height-350) var(--font-family-sans);
    --typography-sans-350-bold-letter-spacing: -0.0078125rem;
    --typography-sans-400-regular-font: var(--font-weight-regular) var(--font-size-400) / var(--font-line-height-400) var(--font-family-sans);
    --typography-sans-400-regular-letter-spacing: -0.015625rem;
    --typography-sans-400-medium-font: var(--font-weight-medium) var(--font-size-400) / var(--font-line-height-400) var(--font-family-sans);
    --typography-sans-400-medium-letter-spacing: -0.015625rem;
    --typography-sans-400-semibold-font: var(--font-weight-semibold) var(--font-size-400) / var(--font-line-height-400) var(--font-family-sans);
    --typography-sans-400-semibold-letter-spacing: -0.015625rem;
    --typography-sans-400-bold-font: var(--font-weight-bold) var(--font-size-400) / var(--font-line-height-400) var(--font-family-sans);
    --typography-sans-400-bold-letter-spacing: -0.015625rem;
    --typography-sans-500-medium-font: var(--font-weight-medium) var(--font-size-500) / var(--font-line-height-500) var(--font-family-sans);
    --typography-sans-500-medium-letter-spacing: -0.0390625rem;
    --typography-sans-500-semibold-font: var(--font-weight-semibold) var(--font-size-500) / var(--font-line-height-500) var(--font-family-sans);
    --typography-sans-500-semibold-letter-spacing: -0.0390625rem;
    --typography-sans-500-bold-font: var(--font-weight-bold) var(--font-size-500) / var(--font-line-height-500) var(--font-family-sans);
    --typography-sans-500-bold-letter-spacing: -0.0390625rem;
    --typography-sans-600-regular-font: var(--font-weight-regular) var(--font-size-600) / var(--font-line-height-600) var(--font-family-sans);
    --typography-sans-600-regular-letter-spacing: -0.0625rem;
    --typography-sans-600-semibold-font: var(--font-weight-semibold) var(--font-size-600) / var(--font-line-height-600) var(--font-family-sans);
    --typography-sans-600-semibold-letter-spacing: -0.046875rem;
    --typography-sans-600-bold-font: var(--font-weight-bold) var(--font-size-600) / var(--font-line-height-600) var(--font-family-sans);
    --typography-sans-600-bold-letter-spacing: -0.046875rem;
    --typography-sans-700-regular-font: var(--font-weight-regular) var(--font-size-700) / var(--font-line-height-700) var(--font-family-sans);
    --typography-sans-700-regular-letter-spacing: -0.125rem;
    --typography-sans-700-semibold-font: var(--font-weight-semibold) var(--font-size-700) / var(--font-line-height-700) var(--font-family-sans);
    --typography-sans-700-semibold-letter-spacing: -0.09375rem;
    --typography-sans-700-bold-font: var(--font-weight-bold) var(--font-size-700) / var(--font-line-height-700) var(--font-family-sans);
    --typography-sans-700-bold-letter-spacing: -0.09375rem;
    --typography-sans-800-regular-font: var(--font-weight-regular) var(--font-size-800) / var(--font-line-height-800) var(--font-family-sans);
    --typography-sans-800-regular-letter-spacing: -0.21875rem;
    --typography-sans-800-semibold-font: var(--font-weight-semibold) var(--font-size-800) / var(--font-line-height-800) var(--font-family-sans);
    --typography-sans-800-semibold-letter-spacing: -0.1171875rem;
    --typography-sans-800-bold-font: var(--font-weight-bold) var(--font-size-800) / var(--font-line-height-800) var(--font-family-sans);
    --typography-sans-800-bold-letter-spacing: -0.1171875rem;
    --typography-sans-900-regular-font: var(--font-weight-regular) var(--font-size-900) / var(--font-line-height-900) var(--font-family-sans);
    --typography-sans-900-regular-letter-spacing: -0.171875rem;
    --typography-sans-900-semibold-font: var(--font-weight-semibold) var(--font-size-900) / var(--font-line-height-900) var(--font-family-sans);
    --typography-sans-900-semibold-letter-spacing: -0.1328125rem;
    --typography-sans-900-bold-font: var(--font-weight-bold) var(--font-size-900) / var(--font-line-height-900) var(--font-family-sans);
    --typography-sans-900-bold-letter-spacing: -0.1328125rem;
    --typography-sans-1000-regular-font: var(--font-weight-regular) var(--font-size-1000) / var(--font-line-height-1000) var(--font-family-sans);
    --typography-sans-1000-regular-letter-spacing: -0.25rem;
    --typography-sans-1000-bold-font: var(--font-weight-bold) var(--font-size-1000) / var(--font-line-height-1000) var(--font-family-sans);
    --typography-sans-1000-bold-letter-spacing: -0.15625rem;
    --typography-serif-200-regular-font: var(--font-weight-regular) var(--font-size-200) / var(--font-line-height-200) var(--font-family-serif);
    --typography-serif-200-regular-letter-spacing: 0;
    --typography-serif-300-regular-font: var(--font-weight-regular) var(--font-size-300) / var(--font-line-height-300) var(--font-family-serif);
    --typography-serif-300-regular-letter-spacing: 0;
    --typography-serif-350-regular-font: var(--font-weight-regular) var(--font-size-350) / var(--font-line-height-350) var(--font-family-serif);
    --typography-serif-350-regular-letter-spacing: 0;
    --typography-serif-400-regular-font: var(--font-weight-regular) var(--font-size-400) / var(--font-line-height-400) var(--font-family-serif);
    --typography-serif-400-regular-letter-spacing: 0;
    --typography-serif-500-regular-font: var(--font-weight-regular) var(--font-size-500) / var(--font-line-height-500) var(--font-family-serif);
    --typography-serif-500-regular-letter-spacing: 0;
    --typography-serif-600-regular-font: var(--font-weight-regular) var(--font-size-600) / var(--font-line-height-600) var(--font-family-serif);
    --typography-serif-600-regular-letter-spacing: 0;
    --typography-serif-700-regular-font: var(--font-weight-regular) var(--font-size-700) / var(--font-line-height-700) var(--font-family-serif);
    --typography-serif-700-regular-letter-spacing: -0.09375rem;
    --typography-serif-800-regular-font: var(--font-weight-regular) var(--font-size-800) / var(--font-line-height-800) var(--font-family-serif);
    --typography-serif-800-regular-letter-spacing: -0.125rem;
    --typography-serif-900-regular-font: var(--font-weight-regular) var(--font-size-900) / var(--font-line-height-900) var(--font-family-serif);
    --typography-serif-900-regular-letter-spacing: -0.125rem;
}


.globalNavigation_stickyWrapper__SYZfy{
    position: sticky;
    top: 0;
    z-index: var(--z-index-header);
    transition: transform .3s ease;
}
.basethem_1{
    --color-primary: var(--color-green-500);
    --color-button-primary: var(--color-green-600);
    --color-button-primary-hover: var(--color-green-500);
    --color-button-primary-active: var(--color-green-700);
    --color-link: var(--color-green-600);
    --color-link-hover: var(--color-green-800);
}
.globalNavigation_1{
    background-color: var(--color-white);

}