body, html {
  margin: 0;
  padding: 0;
}
.header{
    width: 20%;
    height: 50px;
    padding: 10px;
    margin: auto;
    /* position: unset; */
    background-color: blanchedalmond;
    /* user-select: auto; */
    position: relative;
    overflow: hidden;
    transition: height 0.35s ease, width 0.35s, transform 0.35s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    z-index: 1000;
    border-radius: 2em;


}

.header:hover{
    /* width: 80%;
    height: 200px; */
    /* transform: translateX(80%), translateY(100px);
    overflow: visible;
    position: relative; */
    height: 100px; 
    width: 80%;
}


.fast_reg {
    
    background: aquamarine;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    z-index: 1;

    /* make it ready for a fade‑out */
    transition: opacity 0.4s, transform 0.4s, height 0.4s, width 0.4s;
    overflow: hidden;        /* keeps the inner contents from spilling */
    /* opacity: 0;              fades out */
    transform: scale(0);     
    height: 0;
    width: 0;
    margin: auto;
}

/* 4️⃣  “Hidden” variant – 0 opacity + 0 size */
.fast_reg.unhidden {
    /* opacity: 0;              fades out */
    transform: scale(1);     /* shrinks (optional) */
    height: 30%;
    width: 50%;
    
    /* optional; can keep margins/padding etc. to collapse smoothly */
}
.reg_pos{
    width: 400px;
    height: 400px;
    position: fixed;
    margin-top: 30%;
    margin-left: 30%;
}
.inputt{
    /* margin: auto; */
    margin: auto;
}

.global_navigation{
    width: 80%;
    height: 5%;
    /* padding: var(15px ) 25px; */
    padding-top: 10PX;
    padding-inline: 10%;
}